<!--Footer Area-->
<footer class="footer-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
        <div class="single-footer">
          <img src="assets/images/logo.png" alt="">
          <p>For though result and talent add <br> are parish valley. Songs in oh <br> other avoid it hours woman style.</p>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
        <div class="row">
          <div class="col-md-5">
            <div class="single-footer">
              <h3>Company</h3>
              <div class="footer-menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="single-footer">
              <h3>Further Information</h3>
              <div class="footer-menu">
                <ul>
                  <li><a href="#">Hotels</a></li>
                  <li><a href="#">Gallery Blog</a></li>
                  <li><a href="#">Rooms & Suites</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
        <div class="single-footer">
          <h3>Follow Us</h3>
          <div class="footer-social">
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
            <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!--/Footer Area-->

<!--Copyright-->
<div class="copyright-text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col centered wow fadeInUp" data-wow-delay="0.3s">
        <p>&copy; 2019 All Rights Reserved. Created by Motus</p>
      </div>
    </div>
  </div>
</div><!--/Copyright-->
