<!-- Header Area -->
       <header class="main_menu_area">
     <div class="container">
       <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <nav class="navbar navbar-expand-lg navbar-light">
             <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt=""></a>
             <div class="mobile_toggle">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
             </div>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                 <li class="nav-item dropdown submenu">
                   <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Rooms & Suites  <i class="ti ti-angle-down"></i>
                   </a>
                   <ul class="dropdown-menu">
                     <li class="nav-item"><a class="nav-link" href="room-list.html">Room List</a></li>
                     <li class="nav-item"><a class="nav-link" href="room-details.html">Room Details</a></li>
                     <li class="nav-item"><a class="nav-link" href="yoga.html">Yoga Page</a></li>
                   </ul>
                 </li>
                 <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                 <li class="nav-item dropdown submenu">
                   <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Blog  <i class="ti ti-angle-down"></i>
                   </a>
                   <ul class="dropdown-menu">
                     <li class="nav-item"><a class="nav-link" href="blog.html">Blog All</a></li>
                     <li class="nav-item"><a class="nav-link" href="blog-details.html">Blog Details</a></li>
                   </ul>
                 </li>
                 <li class="nav-item dropdown submenu">
                   <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Pages <i class="ti ti-angle-down"></i>
                   </a>
                   <ul class="dropdown-menu">
                     <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                     <li class="nav-item"><a class="nav-link" href="faq.html">FAQ Page</a></li>
                     <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>
                     <li class="nav-item"><a class="nav-link" href="account.html">Account</a></li>
                   </ul>
                 </li>
                 <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
               </ul>
             </div>
           </nav>
         </div>
       </div>
     </div>
       </header><!-- Header Area -->

   
