<!--Rooms and Suites Area-->
<section class="rooms-suites-area pb-0 section-padding mb-m30">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 centered wow fadeInUp" data-wow-delay="0.3s">
        <div class="section-title">
          <h2 class="cl-black">Our Rooms & Suites</h2>
          <p>On no twenty spring of in esteem spirit likely estate. Continue new you declared differed learning bringing honoured.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <%@room_types.each do |room_type|%>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
            <div class="single-room-block">
              <div class="best-sell-tag">Best Sell</div>
              <img src="<%=room_type.image%>" alt="">
              <h3 class="text-center"><a href=""><%=room_type.title%></a></h3>
              <p>This room has high ceilings, a custom queen bed, bespoke and vintage furnishings.</p>
              <div class="rooms-book-price">
                <%=link_to room_type_rooms_path(room_type),class: "btn btn-primary" do %>
                  Explore <i class="ti-arrow-right"></i>
                <%end%>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</section><!--/Rooms and Suites Area-->
